home {
    h1 {
        color: red;
    }
    .shortcut-link {
        text-decoration: none;
        position: relative;
        display: block;
        width: 100%;
        height: 200px;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: #262a30;
    }
    .shortcut-link .text {
        height: 200px;
        line-height: 200px;
        text-align: center;
        font-size: 24px;
        color: #666;
    }
    .shortcut-link:hover .text {
        background-color: #262a30;
        color: #88a7ec;
    }
}