<ion-header>
    <ion-navbar>
        <ion-title padding>
            产品中心
        </ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-segment padding [(ngModel)]="tabindex">
            <!-- <ion-segment-button *ngFor="let item of navMenu" (ionSelect)="segmentChanged($event)" value="{{item.id}}">{{item.menuname}}</ion-segment-button> -->
            <ion-segment-button value="website">网站制作</ion-segment-button>
            <ion-segment-button value="video">影视宣传</ion-segment-button>
            <ion-segment-button value="media">多媒体交互</ion-segment-button>
            <ion-segment-button value="other">其他</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
    <!-- <div *ngFor="let item of navMenu">
        <product-list *ngIf="tabindex === item.id" [id]="item.id"></product-list>
    </div> -->
    <div [ngSwitch]="tabindex">

        <div *ngSwitchCase="'website'">
            <product-list [id]="4"></product-list>
        </div>
        <div *ngSwitchCase="'video'">
            <product-list [id]="5"></product-list>
        </div>
        <div *ngSwitchCase="'media'">
            <product-list [id]="6"></product-list>
        </div>
        <div *ngSwitchCase="'wechat'">
            <product-list [id]="7"></product-list>
        </div>
    </div>
</ion-content>