.toolbar-background {
    background-color: #fff;
}

.card-background-page {
    // ion-card {
    //     position: relative;
    //     text-align: center;
    // }
    .card-title {
        font-size: 1.2em;
        text-align: center;
        line-height: 200%;
        width: 100%;
        font-weight: bold;
    }
}